---
layout: game
title: Flappy Bird (TypeScript) | syon/works
---

css:
  body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
  }
  #content {
    padding: 60px 0;
  }
  #content canvas {
    margin: 2em auto;
  }
  span {
    font-style: italic;
  }

script src="js/phaser.min.js" type="text/javascript" 
script src="js/game.js" type="text/javascript" 

#content
