doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="description" content=data.page.description)
    meta(name="robots" content="index,follow")
    //- meta(name="viewport" content="width=device-width, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable" content="yes")

    title= data.page.title

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

  body
    != yield

    //- JavaScripts
    //- == google_analytics_universal_tag
