style(type="text/css").
  #game_div {
    width: 500px;
    margin: auto;
    margin-top: 50px;
  }

script(src="phaser.min.js" type="text/javascript")
script(src="main.js" type="text/javascript")

#game_div

.footer
  p
    a(href="http://blog.lessmilk.com/make-html5-games-with-phaser-1/") Make HTML5 games with Phaser - Introduction
