*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border: 0 none;position: relative;}
 
html {
  background: url(background-photo.jpg) no-repeat 50% fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  font-weight: 100;
  overflow-y: scroll;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: inherit;
  overflow: hidden;
  color: #333;
  /* Font Settings */
  font-family: Helvetica, YuGothic, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.6;
}
article {
  background: inherit;
  position: relative;
  width: 80%;
  max-width: 1200px;
  min-width: 800px;
  height: 80%;
  margin: 10vh auto 15vh;
  border-radius: 0;
  box-shadow: 1px 1px 4px rgba(0,0,0,.3);
  z-index: 5;
  font-size: 1.4rem;
}
.sidebar:before {
  content: '';
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  background: inherit;
  filter: blur(5px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: url(#blur);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
}
#tile {
  background-color: rgba(255,255,255,.7);
  border-radius: 4px;
  padding: 20px;
  font-size: 14px;
  height: 100%;
}
svg {
  height: 0;
  width: 0;
  position: absolute;
}
.sidebar {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  width: 180px;
  z-index: 2;
  margin: 20px 0;
}
.sidebar .sidesection {
  margin: 20px 0;
}
.sidebar .sidesection-title {
  font-size: 85%;
}
.sidebar .sidesection ul {
  margin: 0 10px;
}
.content {
  position: absolute;
  left: 200px; right: 0; top: 0; bottom: 0;
  /*background-color: #fff;*/
  border-radius: 0 4px 4px 0;
  padding: 0px;
  overflow: auto;
}
.content .page {
  padding: 0px;
  /*background-color: rgb(235,242,252);*/
  min-height: 100%;
  border-radius: inherit;
}
.content .coverimage {
  background-color: rgb(158,220,235);
  background: url(cover.jpg) no-repeat 50% ;
  background-size: cover;
  border-radius: 0 4px 0 0;
  width: 100%;
  height: 200px;
}
.content .pageside {
  float: left;
  width: 250px;
  height: 500px;
  position: relative;
  top: -150px;
  left: 25px;
}
.content .pageside .jacket {
  background-color: #000;
  width: 200px;
  height: 200px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
}
.content .pageside .jacket img {
  width: 200px;
  height: 200px;
}
.content .pageside .jacketdesc {
  width: 200px;
  padding: 10px 0;
}
.content .pageside .jacketdesc .downloadbtn {
  background-color: rgb(85,152,160);
  background: -webkit-linear-gradient(top, rgb(128,187,194) 0%, rgb(85,152,160) 50%);
  margin: 10px;
  padding: 4px;
  color: #fff; 
  text-align: center;
  text-shadow: 0 -1px 0 #333;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.content .pagecontent {
  padding: 20px;
  margin-left: 230px;
}
.content .pagecontent h1 {
  font-size: 32px;
}
#musiclist {
  width: 100%;
  margin: 15px 0;
  border-spacing: 0;
}
#musiclist tr th {
  text-align: left;
  font-size: 80%;
  color: #888;
}
#musiclist tr td {
  border-bottom: 1px solid #ddd;
}
#musiclist tr th,
#musiclist tr td {
  padding: 2px 5px;
}
#musiclist tr:hover td {
  text-decoration: underline;
  background-color: #ffd;
  cursor: pointer;
}
.right {
  text-align: right !important;
}
#sc_player button {
  margin: 20px 10px;
  padding: 2px 6px 3px;
  border: 2px outset buttonface;
}

